.bg-blue {
  background: rgba(255,255,255,0.1);
  z-index: 1 !important; /* this line added to show side menu drawer fully */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
  
.ant-drawer-body {
  background-color: #15161b;
  color: #fff;
}
